{% extends "_update.html" %}

{% macro input_robot_tokens_wider(x, y, corner) %}
<foreignObject x="{{ x }}" y="{{ y }}" width="70" height="30">
  <label for="robot_tokens_{{ corner }}">Robot Tokens</label>
</foreignObject>
<foreignObject x="{{ x + 75 }}" y="{{ y }}" width="150" height="30">
  <input
    class="tokens"
    type="text"
    id="robot_tokens_{{ corner }}"
    name="robot_tokens_{{ corner }}"
    value="{{ request.form.get('robot_tokens_{}'.format(corner)) | empty_if_none }}"
    onkeyup="token_input_change(this);"
  />
</foreignObject>
{% endmacro %}

{% macro input_zone_tokens_wider(x, y, corner) %}
<foreignObject x="{{ x }}" y="{{ y }}" width="70" height="30">
  <label for="tokens_{{ corner }}">Zone Tokens</label>
</foreignObject>
<foreignObject x="{{ x + 75 }}" y="{{ y }}" width="150" height="30">
  <input
    class="tokens"
    type="text"
    id="tokens_{{ corner }}"
    name="tokens_{{ corner }}"
    value="{{ request.form.get('tokens_{}'.format(corner)) | empty_if_none }}"
    onkeyup="token_input_change(this);"
  />
</foreignObject>
{% endmacro %}

{% macro input_left_scoring_zone(x, y, corner) %}
{{ input_checkbox(x,y,132,corner,"left_scoring_zone","Fully Left Zone")}}
{% endmacro %}

{% block zone_0 %}
{{ input_tla(70, 50, 0) }}
{{ input_zone_tokens_wider(40, 95, 0) }}
{{ input_robot_tokens_wider(40, 130, 0) }}
{{ input_present(70, 175, 0) }}
{{ input_left_scoring_zone(18, 210, 0) }}
{{ input_disqualified(30, 245, 0) }}
{% endblock %}

{% block zone_1 %}
{{ input_tla(365, 50, 1) }}
{{ input_zone_tokens_wider(335, 95, 1) }}
{{ input_robot_tokens_wider(335, 130, 1) }}
{{ input_present(445, 175, 1) }}
{{ input_left_scoring_zone(393, 210, 1) }}
{{ input_disqualified(405, 245, 1) }}
{% endblock %}

{% block zone_2 %}
{{ input_tla(380, 320, 2) }}
{{ input_zone_tokens_wider(350, 365, 2) }}
{{ input_robot_tokens_wider(350, 400, 2) }}
{{ input_present(405, 445, 2) }}
{{ input_left_scoring_zone(353, 480, 2) }}
{{ input_disqualified(365, 515, 2) }}
{% endblock %}

{% block zone_3 %}
{{ input_tla(40, 320, 3) }}
{{ input_zone_tokens_wider(10, 365, 3) }}
{{ input_robot_tokens_wider(10, 400, 3) }}
{{ input_present(105, 445, 3) }}
{{ input_left_scoring_zone(53, 480, 3) }}
{{ input_disqualified(65, 515, 3) }}
{% endblock %}

{% block zone_other_outline %}
<rect height="120" width="120" stroke="#000" y="240" x="240" stroke-width="1" fill="#f4f3ff" />
{% endblock %}

{% block zone_other %}
<foreignObject x="250" y="250" height="100" width="100">
  <img src="{{ url_for('static', filename='images/logo.png') }}" />
</foreignObject>
{% endblock %}

{% block valid_token_regex %}
var valid_token_regex = /^[BSG]*$/;
{% endblock %}
